*/target/
*/**/target/
*.log
.DS_Store
*/repository/
*/repository.xml
*/drools-eclipse/*/lib/

# these annoying files are created from the build/test process
drools-pipeline/drools-messenger-jms/activemq-data/
/drools-guvnor/src/main/java/org/drools/guvnor/public/version.txt

